---
import "../../styles/global.css"

interface Props {
	title: string;
	description: string;
}

const { title = "bensparrowdev Portfolio", description = "Hi, I'm Ben Sparrow and welcome to my portfolio website." } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={description}>
  <script src="https://kit.fontawesome.com/f5339c6b8f.js" crossorigin="anonymous"></script>
  <script src="https://www.google.com/recaptcha/api.js" defer></script>
</head>