
<section class="container-lg mx-auto pb-12">
  <h3 class="text-left">What I listen to</h3>
  <div class="playlist-list">
    <ul class="relative">
      <li class="before:border-primary dark:before:border-primary_dark">
        <h4 class="group">
          <a href="https://open.spotify.com/playlist/4JTxRKKdtpAlLLVZRQvuRZ?si=cadba0c125884ebc" rel="external" target="_blank">
            deepCode 
            <i class="fa-brands fa-spotify fa-xs group-hover:ml-1 group-hover:opacity-100"></i>
          </a>
        </h4>
        <p>Unleash your focus and productivity with my curated playlist of minimal and lofi techno. Perfect for coding and studying, these captivating tracks create an immersive ambiance that helps you stay in the zone.</p>
      </li>

      <li class="before:border-primary dark:before:border-primary_dark">
        <h4 class="group">
          <a href="https://open.spotify.com/playlist/37i9dQZF1DX6GJXiuZRisr?si=bc845059d94b4628" rel="external" target="_blank">
            Night Rider 
            <i class="fa-brands fa-spotify fa-xs group-hover:ml-1 group-hover:opacity-100"></i>
          </a>
        </h4>
        <p>Progressive house music for the late night highway.</p>
      </li>

      <li class="before:border-primary dark:before:border-primary_dark"> 
        <h4 class="group">
          <a href="https://open.spotify.com/playlist/1elrm0RApz9X4flGk84PCc?si=b57396f21d2d4e0c" rel="external" target="_blank">
            oldSchoolRock 
            <i class="fa-brands fa-spotify fa-xs group-hover:ml-1 group-hover:opacity-100"></i>
          </a>
        </h4>
        <p>Rock out to the ultimate playlist of classic rock hits from the 70s, 80s, and 90s. Let the legendary bands and timeless anthems transport you to the golden era of rock music.</p>
      </li>

      <li class="before:border-primary dark:before:border-primary_dark">
        <h4 class="group">
          <a href="https://open.spotify.com/playlist/2wSNKxLM217jpZnkAgYZPH?si=e31e031076554a26" rel="external" target="_blank">
            Anjunadeep Releases 
            <i class="fa-brands fa-spotify fa-xs group-hover:ml-1 group-hover:opacity-100"></i>
          </a>
        </h4>
        <p>All the 2023 releases from Anjunadeep as soon as they drop!</p>
      </li>
    </ul>
  </div>
</section>

<style type="text/css">
  .playlist-list ul li{
    @apply pb-4 text-left sm:text-left flex flex-col;
  }

  .playlist-list ul li h4{
    @apply mb-2 pl-10;
  }

  .playlist-list ul li p{
    @apply pl-10;
  }

  .playlist-list ul li h4 i{
    @apply text-[#1DB954] -ml-6 opacity-0 transition-all ease-in-out duration-200;
  }

  .playlist-list ul li::before{
    content: "";
    @apply block w-6 h-6 absolute left-0 mt-3 border-4 rounded-full;
  }

</style>