---
import Layout from '../layouts/Layout.astro'
import Playlists from '../components/about/Playlists.astro';
---

<Layout title="About me | bensparrowdev" description="I'm Ben, a freelance web developer from Cambridge, UK 🇬🇧 and have been making websites for the past three years, but my passion for technology goes back much further." bgText="raver">
	<section class="container-lg mx-auto mb-32">
    <h1>About me.</h1>
    <div class="container">
      <p>
        I'm Ben, a freelance web developer from Cambridge, UK 🇬🇧. I'm 26 years old and have been making websites for the past three years, but my passion for technology goes back much further.
      </p>
      <p>
        For my 13th birthday, my parents gave me a motherboard and other computer parts so I could build my own pc - mostly so I could play the alpha release of Minecraft. Fast forward to today, I'm a level 4 certified software developer working as a front-end Shopify developer for the <a href="https://www.prolificnorth.co.uk/news/top-50-lists/2022/05/prolific-north-top-50-digital-agencies-2022" target="_blank" rel="external" aria-label="Prolific North top 50 agencies article">#1 rated e-commerce agency in the north of England</a>.
      </p>
      <p>
        At 18 I started an online business selling raspberry pi's and other maker products with my uncle. Despite having fun building the website, it failed miserably. I figured I needed to improve my business knowledge, so I enrolled at Leeds Beckett University to study Business Management and Marketing.
      </p>
      <p>
        After graduating three years later, I landed my first job in tech as a Digital Project Manager for a WordPress agency. During my time here I was learning responsive web design and experimenting with HTML, CSS & JavaScript.
      </p>
      <p>
        When the pandemic hit in 2019, I was furloughed like many others. I spent most of my time learning more about web development and took on my first project of building an e-commerce site for my friend's parents' business.
      </p>
      <p>
        Eventually being made redundant, but with a new love for programming, I enrolled on a software development boot camp. Twelve weeks later, I'm graduating from boot camp and starting my first job as a software developer for a start-up. As my career has progressed, I've picked up additional programming languages and honed my soft skills.
      </p>
      <p>
        Alongside my role as a front-end Shopify developer, I'm working as a freelance web developer, taking on modern JavaScript projects. I specialize in React with a focus on Next.js, but <a href="/projects" aria-label="a link to my projects">I am also proficient in a variety of other technologies</a>, including Node.js, Express, Gatsby, Astro, and more.
      </p>
      <p>
        Being an effective remote worker, I've delivered results for clients based across the UK and Europe. I currently work remotely at my day job from my home in Cambridge and actively take on freelance work too.
      </p>
      <p>
        Away from my desk, I like to promote a balanced lifestyle. I'm a regular gym goer, Aston Villa football club supporter, bookworm, electronic music fan (see my playlists below) and a keen traveller.
      </p>
      <div class="flex gap-4 text-body dark:text-body_dark mt-8">
        <p class="mb-0">Connect with me on:</p>
        <a href="https://twitter.com/bensparrowdev" target="_blank" rel="external" aria-label="Ben Sparrow twitter profile">
          <i class="fa-brands fa-twitter fa-xl hover:text-primary dark:hover:text-primary_dark transition-colors duration-150 ease-in"></i>
        </a>
        <a href="https://www.linkedin.com/in/ben-sparrow/" target="_blank" rel="external" aria-label="Ben Sparrow linkedin profile">
          <i class="fa-brands fa-linkedin-in fa-xl hover:text-primary dark:hover:text-primary_dark transition-colors duration-150 ease-in"></i>
        </a>
        <a href="https://github.com/bensparrowdev" target="_blank" rel="external" aria-label="Ben Sparrow Github repositories">
          <i class="fa-brands fa-github fa-xl hover:text-primary dark:hover:text-primary_dark transition-colors duration-150 ease-in"></i>
        </a>
      </div>
    </div>
	</section>
  <section class="container-lg mx-auto pb-12" id="playlists">
    <Playlists />
  </section>

</Layout>