---
import Layout from '../layouts/Layout.astro'
import Playlists from '../components/about/Playlists.astro';
---

<Layout title="About me | bensparrowdev" description="Hi, I'm Ben Sparrow, a software developer, and welcome to my portfolio website." bgText="raver">
	<section class="container-lg mx-auto mb-32">
    <h1>About me.</h1>
    <div class="container-md">
      <p>Commodo esse velit magna labore laborum deserunt eiusmod amet consectetur. Adipisicing enim irure ipsum dolore ad ea aute occaecat non esse adipisicing mollit commodo. Consequat pariatur cupidatat aute ipsum adipisicing ad officia quis. Aute et nostrud Lorem ullamco nostrud exercitation. Sit ullamco voluptate consectetur nisi amet cillum laboris. Eiusmod aute veniam reprehenderit exercitation minim consequat consectetur ullamco nostrud consequat voluptate in. Incididunt id elit nostrud eiusmod fugiat laborum amet nisi consequat ullamco.
      </p>
      <p>Et aliquip esse ullamco proident ea culpa do id. Nostrud velit duis cupidatat qui Lorem consequat magna minim consequat elit anim ex tempor cupidatat. Adipisicing et fugiat proident duis ullamco quis Lorem deserunt.</p>
    </div>
	</section>

  <Playlists />

  <!-- <section class="container-lg mx-auto">
    <h3 class="text-left">My recommended books</h3>
  </section> -->


</Layout>