---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Contact | bensparrowdev" description="Hi, I'm Ben Sparrow, a software developer, and welcome to my portfolio website." bgText="get in touch">
	<section class="container-lg mx-auto mb-64">
    <h1>Contact.</h1>
    <div class="container-md">
      
    </div>
	</section>

</Layout>