---
import Button from '../components/Button';
import Layout from '../layouts/Layout.astro';
import { FaTwitter, FaLinkedinIn, FaFacebookF } from 'react-icons/fa'
---

<Layout title="Homepage | bensparrowdev" description="Hi, I'm Ben Sparrow, a software developer, and welcome to my portfolio website." bgText="web developer">
	<div class="container-lg mx-auto mt-12 sm:mt-36">
		<h1 class="mb-2rem">Hello, I'm Ben.</h1>
		<p>I'm a software engineer from the UK, passionate about building web applications. When I'm not typing away on a keyboard, I'm probably wielding a frying pan or lifting some dumbbells.</p>
		<p>Feel free to check out <Button client:idle text="my projects" link="/projects" type="code-block" />,  <Button client:idle text="my experience" link="/experience" type="code-block" />, more <Button client:idle text="about me" link="/about" type="code-block" />, why not <Button client:idle text="get in touch" link="/contact" type="code-block" />, or email me at <Button client:idle text="bensparrowdev@gmail.com" link="mailto:bensparrowdev@gmail.com" type="code-block" />.</p>
		<p>Have a great day!</p>
		<div class="flex gap-4 text-body dark:text-body_dark mt-8">
			<p class="mb-0">Follow me on:</p>
			<a href="https://twitter.com/bensparrowdev" target="_blank" rel="noreferrer">
				<FaTwitter size={25} className="cursor-pointer hover:text-[#00ACEE] transition-colors duration-150 ease-in" />
			</a>
			<a href="https://www.linkedin.com/in/ben-sparrow/" target="_blank" rel="noreferrer">
				<FaLinkedinIn size={25} className="cursor-pointer hover:text-[#0077b5] transition-colors duration-150 ease-in" />
			</a>
			<a href="https://www.facebook.com/bensparrowdev/" target="_blank" rel="noreferrer">
				<FaFacebookF size={25} className="cursor-pointer hover:text-[#3b5998] transition-colors duration-150 ease-in" />
			</a>
		</div>
	</div>
</Layout>
 