---
import { contentfulClient } from "../lib/contentful";
import type { Project } from "../lib/contentful";
import Layout from '../layouts/Layout.astro'
import ProjectsSection from '../components/projects/ProjectsSection'

// project data
const entries = await contentfulClient.getEntries<Project>({
  content_type: "projects",
});

const {projects = entries.items} = Astro.props
---

<Layout title="Projects | bensparrowdev" description="Hi, I'm Ben Sparrow, a software developer, and welcome to my portfolio website." bgText="tinkerer">
  <section class="container-lg mx-auto">
    <h1>Projects.</h1>
    <div class="container-lg">

      <ProjectsSection client:visible projects={projects} />

    </div>
  </section>
</Layout>
